@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form method="get" asp-action="Index">
        <label for="name">user</label>
        <input type="text" id="Name" name="name"/>
        <label for="pass">pass</label>
        <input type="text" id="Pass" name="pass"/>

        <button type="submit"> press me </button>
    </form>
</body>
</html>